.row.test-job-form{style: "padding-left: 40px !important;padding-right: 40px !important;"}
  .col-md-offset-1.col-md-10
    %p.job-type
      %span.job-type
        = "Your application for the #{@job.title} job has been submitted successfully."
