%urlset{ "xmlns" => "http://www.sitemaps.org/schemas/sitemap/0.9", "xmlns:xsi" => "http://www.w3.org/2001/XMLSchema-instance", "xsi:schemaLocation" => "http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd"}
  - base_url = "http://#{request.host_with_port}"
  %url
    %loc= base_url
    %changefreq weekly
    %priority 1.0
  - @jobs.each do |j|
    %url
      %loc= job_url j
      %changefreq weekly
      %priority= j.expired? ? 0.25 : 0.5
