.row
  .col-md-offset-1.col-md-10
    .well.bs-component.clearfix.form-newpost
      %form#new_job.new_job{"accept-charset" => "UTF-8", :action => admin_job_path, :method => :post, :as => job, :enctype => "multipart/form-data"}
        %input{:name => "_method", :type => "hidden", :value => "put"}
        %input{:name => "utf8", :type => "hidden", :value => "✓"}/
        %input{:name => "authenticity_token", :type => "hidden", :value => "CvHXz8XQMOlEbhFjFUbUqDJ+4nnjrYuikFFAscyNWVzfTLcmkc03gTaoph6PH5nZtwDu7pGOvhnReNdg7qj8xQ=="}/
        %input#token{:name => "token", :type => "hidden"}/
        %fieldset
          %legend.no-sep Tell us about the job
          .row
            .col-md-6.form-group
              .mb-3
                %input#job_title.form-control{:name => "job[title]", :placeholder => "Job Title", :required => "required", :type => "text", :value => job.title}/
            .col-md-6.form-group
              .mb-3
                = select_tag "job[job_type]", 
                  options_for_select(["Contract C2C", 
                                      "Full-Time", 
                                      "Internship"], job.job_type), 
                  prompt: "Unspecified", class: 'form-control', 
                  required: "required"
          .form-group
            %label
              Description
            %textarea#job_description.form-control{:name => "job[description]", :required => "required", :rows => "15"}
              = job.description

        %fieldset
          %legend.no-sep
            Tell us about the company
          .row
            .col-md-6.form-group
              .mb-3
                %input#job_company_name.form-control{:name => "job[company_name]", :placeholder => "Company Name", :required => "required", :type => "text", :value => job.company_name}/
            .col-md-6.form-group
              .mb-3
                %input#job_company_location.form-control{:name => "job[location]", :placeholder => "Location", :required => "required", :type => "text", :value => job.location}/
          .row
            .col-md-6.form-group
              .mb-3
                %input#job_company_url.form-control{:name => "job[company_url]", :placeholder => "Website URL", :type => "text", :value => job.company_url}/
            .col-md-6.form-group
              .mb-3
                %input#job_email.form-control{:name => "job[email]", :placeholder => "Email", :required => "required", :type => "email", :value => job.email}/
          .row
            .col-md-6.form-group
              %legend.no-sep
                = "Resume"
              %label
                = file_field_tag "job[resume]"

        .row.new-jobs-save
          .col-md-6.form-group.text-center
            %input.btn.btn-success.btn-raised{:name => "commit", :type => "submit", :value => "Preview", :id => "preview"}/
          .col-md-6.form-group.text-center
            %input.btn.btn-default.btn-raised{:name => "commit", :type => "submit", :value => "Save and Continue", :id => "save-continue"}/
