- if params[:token] == @job.token
  = render 'shared/alert', type: 'info', highlight: "This is a preview.", text: "The job is not visible publicly. Do not share this link, it allows editing the job posting."

= render "admin_jobs/show_job", job: @job
