<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
    h3 {
      font-size: 12px !important;
      font-weight: bold;
    }

    p {
      font-size: 12px !important;
    }
    job-title {
      padding-left: 15px;
      font-size: 18px;
      font-weight: bold;
    }
    small a {
      font-weight: bold;
    }
    #jobtype {
      color: black !important;
      font-size: 12px;
      font-weight: bold !important;
    }
    job-type {
      font-size: 12px;
      color: gray
    }
    apply-job {
      background-color: #edf9fd;
      margin-left: -35px;
      margin-right: -35px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    pa-box {
      padding-left: 35px;
    }
    pa-box .box-title {
        margin-top: 10px;
    }
    box-title {
      font-family: "Lucida Sans Unicode" !important;
      font-weight: bold;
      color: black;
      font-size: 14px;
    }  
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
